node_modules/
dist/
.env
.venv/
.direnv/
__pycache__/
*.pyc
*.whl
outputs/
logs/

# outputs from `prime eval run`
./outputs
./environments/*/outputs


configs/rl/*
configs/gepa/*
configs/eval/*

downloads
